# This file contains common pin mappings for the BIGTREETECH SKR V1.1
# board. To use this config, the firmware should be compiled for the
# LPC176x.

# This file is a working printer.cfg for the anycubic liner plus
# delta.  It also has a bigtreetech full graphics smart display
# too.  A word of note with this display that I am using, I 
# I not have to filp any cables to get this to work
# No SD card access at all yet and the buzzer is not set
# up yet.

# The "make flash" command does not work on the SKR. Instead, after
# running "make", copy the generated "out/klipper.bin" file to a file
# named "firmware.bin" on an SD card and then restart the BIGTREETECH
# SKR V1.1 with that SD card.

# See the example.cfg file for a description of available parameters.
[mcu]
#serial: /dev/ttyACM0
serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00

[stepper_a]
step_pin: P0.4
dir_pin: !P0.5
enable_pin: !P4.28
step_distance: .00626
endstop_pin: P1.28
homing_speed: 60

[stepper_b]
step_pin: P2.1
dir_pin: !P2.2
enable_pin: !P2.0
step_distance: .00625
endstop_pin: P1.26

[stepper_c]
step_pin: P0.20
dir_pin: !P0.21
enable_pin: !P0.19
step_distance: .00625
endstop_pin: P1.24

#[stepper_z1]
#step_pin: P0.1
#dir_pin: P0.0
#enable_pin: !P0.10
#position_endstop: 0.5
#position_max: 200

[extruder]
step_pin: P0.11
dir_pin: !P2.13
enable_pin: !P2.12
step_distance: .010989
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_Kp: 19.155
pid_Ki: 0.939
pid_Kd: 97.69
min_extrude_temp: 150
min_temp: 0
max_temp: 275

[heater_bed]
heater_pin: P2.5
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.23
control: watermark
min_temp: 0
max_temp: 130

[fan]
pin: P2.3
kick_start_time: 0.200

#[heater_fan_extruder_cooler_fan]
#Hook up to 12v dc


[printer]
kinematics: delta
max_velocity: 200
max_accel: 3000
max_z_velocity: 200
minimum_z_position: -5

[idle_timeout]
timeout: 360

[probe]
pin: ^!P1.25
speed: 5.0
x_offset: 0.0
y_offset: 0.0
z_offset: 0.2

[delta_calibrate]
radius: 90
speed: 70
horizontal_move_z: 25
samples: 3
sample_retract_dist: 2.0


# "RepRapDiscount 128x64 Full Graphic Smart Controller" type displays
[display]
lcd_type: st7920
cs_pin: P0.16
sclk_pin: P0.15
sid_pin: P0.18
encoder_pins: ^P3.25, ^P3.26
click_pin: ^!P2.11
